*.pyc
**/__pycache__/
outputs/
log/
**/processed/
*.png
test.ipynb
**/result_processing/
database/
data_prep/
configs/model_parameters.yml
configs/hpo.yml
configs/logging_config.json
custom/*
!custom/custom_tokenize.example.py
!custom/custom_metrics.example.py
test_data/
cache/
.qoder/
.vscode/
./*.log
